body{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.conteiner{
    display: flex;
    justify-content: center;
    margin: 150px 0px;
}
.popup{
    width: 460px;
    height: 491px;
    background-color: #ffffff;
    border-radius: 15px;
}
.icon-x{
    opacity: 0.5;
    text-align: right;
}
.icon-x img{
    width: 45px;
    margin: 15px 15px 0px 15px;
}
.text-1{
    width: 68%;
    text-align: left;
    margin: 30px auto;
    margin-top: -30px;
    color: #151a41;
}
.buttons-1{
    width: 85%;
    text-align: center;
    margin: auto;
    
}
.buttons-1 button{
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #ffffff;
    width: 59px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
}
.buttons-1 .color-button{
    background-color: #ff0099;
    color: #ffffff;
}
.conteiner-2{
    display: flex;
    width: 68%;
    margin: auto;
    /* border: 1px solid black; */
    justify-content: space-between;
}
.conteiner-2 div{
    /* border: 1px solid black; */
    width: 120px;
    height: 55px;
}
.left{
    font-size: 15px;
}
.right{
    font-size: 15px;
    text-align: right;
}
.terms{
    /* border: 1px solid black; */
    width: 68%;
    margin: 25px auto;
    display: flex;
    
}
.terms input{
    width: 25px;
    height: 20px;
    text-align: left;
    margin: 3px 3px 3px -2px;
}
.terms label{
    font-size: 15px;
    font-weight: bold;
}
hr{
    width: 68%;
    color: lightgray;
}
.button-div{
    margin: 25px 0px;
}
.next-button{
    width: 315px;
    height: 70px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 3px;
}
.next-button img{
    width: 20px;
    height: 22px;
}
